<!DOCTYPE html>
<html>
<head>
  <title>AppPrimary</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "partials/navigation" %>
<%= yield %>
<footer>
	Derechos reservados <bold>TheKrod</bold> 2014
</footer>

</body>
</html>
