<!DOCTYPE html>
<html>
	<head>
  		<title>AppPrimary</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render partial: "partials/navigation" %>
		<div class="container">
			
			<article class="main">
				<%= yield %>
			</article>	
		</div>
		<footer class="footer background_primary font_color_primary row move_bottom middle-xs center-xs separator">
			<div class="col-xs-8">
				<div class="box">
					<p class="no_margin">
						Derechos reservados 2014
					</p>
					<p class="no_margin">
						<span class="font_family_logo"><strong>TheKrod</strong></span>
					</p>
				</div>
			</div>
			
		</footer>
	</body>
</html>
